.shadow-container {
    filter: drop-shadow(0em 0em 5em rgb(0, 0, 0))
}

.extralarge {
  font-size: 72pt;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.paper {
  max-width: 1000px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  mask-image: 
    linear-gradient(
      to bottom left,
      white,
      white 50%,
      transparent 50%,
      transparent),
    linear-gradient(
      to bottom right,
      white,
      white 50%,
      transparent 50%,
      transparent),
    linear-gradient(
      to right,
      transparent 4px,
      white 4px,
      white calc(100% - 4px),
      transparent calc(100% - 4px));

  mask-size: 4px 4px, 4px 4px, 100% 100%;
  mask-repeat: repeat-y, repeat-y, no-repeat;
  mask-position: left top, right top, center;
}

.fold {
  display: flex;
  flex-direction: row;
  margin: 1em;
  border-top: 1px solid black; 
  max-height: 800px;
}

.feature, .feature_b, .fullWidth, .feature_c {
  text-align: left;
  margin: 1em 1em;
  padding: 1em;
  max-width: 600px;
}

.feature_b {
  border-left: 1px solid black; 
}

.fullWidth, .fullWidth_b, .feature_c {
  max-width: none;
}

.fullWidth_b {
  columns: 2;
}

.feature_c {
  columns: 3;
}

.article {
  text-align: left;
  column-count: 2;
  height: 100%;
}

.title {
  text-align: center;
  font-size: 24pt;
  display: flex;
  justify-content: space-around;
}
.frame {
  font-size: 10pt;
  max-width: 10%;
  padding: 2em;
  display: flex;
  align-items: center;
}
.frame > h1{
  text-decoration: underline;
}

.halftone-edge {
  filter: grayscale(60%);
  /* width: 100%; */
  float: left;
}

.halftone-dots::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(circle, white 1px, transparent 1px);
  background-size: 3px 3px;
  opacity: 0.15; /* Your center transparency */
  pointer-events: none;
}

.halftone-edge::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: 
    radial-gradient(circle, white 1px, transparent 1px);
  background-size: 2px 2px;
  mask-image: 
    linear-gradient(to right, black 0%, transparent 1%, transparent 99%, black 100%),
    linear-gradient(to bottom, black 0%, transparent 1%, transparent 98%, black 100%);
  mask-size: 100% 100%;
  mask-position: 0 0;
}

#one-col {
  columns: 1;
}

@media (max-aspect-ratio: 1/1) {
  .paper {
    max-width: 500px;
  }
  .fold {
    display: inline;
    align-items: stretch;
  }

  .feature, .feature_b {
    border-top: solid 1px black;
  }

  .feature_b {
    border-left: none;
  }

  .article, .feature_c {
    columns: 1;
  }
  .title {
    padding: .5em;
    font-size: 10pt;
    flex-wrap: wrap;
    justify-content: center;
  }
  .frame {
    max-width: 100%;
    padding: .5em;
  }
  
  .extralarge {
  font-size: 40pt;
}
}



