.page {
    filter: drop-shadow(0em 0em 5em rgb(0, 0, 0))
}

.page h1, h2, h3, h4, h5 {
  text-align: center;
}

.page h5 {
  padding: 0;
  margin: 0
}

.page h1 {
  text-decoration: underline;
}

.page p{
  padding-top: 0;
  margin-top: 0;
}

.page img {
  width: 100%;
  /* max-height: 500px; */
  filter: grayscale(60%);
  filter: brightness(1.5);
  /* display: inline; */
}