:root {
    --bright: #e0e2fc;
    --dark: #080213;
    --base: #171432;
    --core: #302054;
    --core-accent: #261a47;
    --trim: #a96bea;
    --star-yellow: rgb(255, 242, 0);
    --star-green: rgb(0, 162, 232);
    --star-red: rgb(255, 111, 27);

  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: small;
  font-weight: 400;

  color: #1d1d1d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
h1, h2, h3, h4, h5{
  text-decoration: none;
}
ul{
  list-style-type: none;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  width: 100%;
}
* {
  box-sizing: border-box;
}

body.theme-frogs {
  background-color: green;
}

body.theme-main {
  background-color: var(--dark);
}
