:root {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: small;
  font-weight: 400;

  color: #1d1d1d;
  background-color: #1d782a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
ul{
  list-style-type: none;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  width: 100%;
}
* {
  box-sizing: border-box;
}

