:root {
    --bright: white;
    --dark: black;
    --base: #0d0d0d;
    --core: #252525;
    --core-accent: #666666;
    --trim: #a96bea;

    --star-gold: #ffb000;
    --star-light: #ffda8a;
    --star-blue: #648fff;
    --star-red: #fe6100;
    --star-equip: #785ef0;

  font-family: "Trebuchet MS", "Tahoma", Arial, sans-serif;
  font-size: small;
  font-weight: 400;

  background-color: var(--dark);
  color: var(--bright);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
h1, h2, h3, h4, h5, a{
  text-decoration: none;
}
ul{
  list-style-type: none;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  width: 100%;
}
* {
  box-sizing: border-box;
}

body.theme-main {
  background-color: var(--dark);
}

button {
  font-size: 16px;
  font-weight: 600;
  color: var(--bright);
  background-color: var(--base);
  border: none;
  padding: 8px;
  margin: 4px;
}
button:active, button:hover{
  background-color: var(--core-accent);
}
