:root {
  --star-gold: #ffb000;
  --star-light: #ffda8a;
  --star-blue: #648fff;
  --star-red: #fe6100;
  --star-equip: #785ef0;
}    
.fake-pip {
  height: 26px;
  width: 0px;
}    
.pip-row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.pip {
  background-color: var(--star-gold);
  color: var(--star-gold);
  width: 5px;
  height: 26px;
}
.pip-augment{
  background-color: var(--star-light);
  color: var(--star-light);
}
.pip-penalty{
  background-color: var(--star-red);
  color: var(--star-red);
}
.pip-bonus{
  background-color: var(--star-blue);
  color: var(--star-blue);
}
.pip-equip{
  background-color: var(--star-equip);
  color: var(--star-equip);
}