.player-card{
  font-family:'Trebuchet MS', sans-serif;
  background-color: black;
  color: white;
}
.talk-card{
  max-width: 250px;
}
.batting-card, .pitching-card{
  display: flex;
  flex-wrap: wrap;
}