h1, h2, h3, h4, h5{
  text-decoration: none;
}
a{
  color: var(--bright)
}
.toggle-menu {
  position: sticky;
  top: 0;
  background: var(--dark);
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  z-index: 10;
}
.navbar-button{
  background-color: var(--core-accent);
  color: var(--bright);
  padding: 6px;
  border: none;
  font-size: 16px;
  font-weight: 500;
}
.navbar-button:hover {
  background-color: var(--core);
}

.player-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-auto-rows: min-content;
  gap: 8px;
  margin: auto;
  grid-auto-flow: dense;
  justify-content: center;
}

.player-card{
  font-family:'Trebuchet MS', sans-serif;
  background-color: var(--base);
  color: var(--bright);
  max-width: 420px;
  margin: 3px;
  height: min-content;
  grid-column: span 3;
  grid-row: span 1;
}
.batting-card, .pitching-card{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.isolated{
  max-width: 380px;
}
.batting-card.isolated .talk-card, .pitching-card.isolated .talk-card {
  width: 100%;
}
.player-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
  max-width: inherit;
}
.player-number {
  padding: 5px;
  background-color: var(--star-yellow);
  color: var(--dark);
  margin-right: 16px;
  font-size: 30px;
  font-weight: 800;
}
.boons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  margin: 2px;
}
.boon-display {
  margin: 4px;
  padding: 6px;
  background-color: var(--core);
  border-radius: 4px;
  max-width: 200px;
}

.level-up {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--core);
  width: 100%;
  margin: 2px;
}
.level-display {
  margin: 4px;
  border-radius: 4px;
  max-width: 190px;
}

.talk-card{
  width: 206px;
  margin: 0px 2px 0px 2px;
  border-radius: 4px;
  height: min-content;
}
.talk-card * li{
  display: flex;
  padding: 0 0 0 5px;
}

.attribute-display{
  display: flex;
  align-items: center;
}
.attribute-title {
  padding: 2px;
  margin: 0 8px 0px 0px;
  text-align: center;
  width: 40px;
  height: 40px;
}

.star-row{
  display: flex;
  flex-wrap: wrap;
  padding: 3px 0 3px 0;
  width: 100%
}
.star, 
.left-half-star, 
.right-half-star{
  width: 20px;
  height: 20px;
  fill: var(--star-yellow);
}
.bonus-star {
  fill: var(--star-green);
}
.penalty-star {
  fill: var(--star-red);
}
#left-half-star{
  clip-path: inset(0 10px 0 0);
  margin-right: -10px
}
#right-half-star{
  clip-path: inset(0 0 0 10px);
  margin-left: -10px
}
.icon{
  width: 20px;
  height: 20px;
}

li { background: var(--core-accent); }
li:nth-child(odd) { background: var(--core); }

.pitch-chart{
  width: 206px;
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
  line-height: 24px;
}

/* Mobile only */
@media (max-width: 419px) {
  .toggle-menu{
    justify-content: space-evenly;
  }
  .navbar-button{
    padding: 2px;
  }
  .star, 
  .left-half-star, 
  .right-half-star{
    width: 14px;
    height: 14px;
  }
  #left-half-star{
    clip-path: inset(0 7px 0 0);
    margin-right: -7px
  }
  #right-half-star{
    clip-path: inset(0 0 0 7px);
    margin-left: -7px
  }
  .pitch-chart{
    max-width: 160px;
  }
  .boon-display{
    max-width: 100%;
  }
  .isolated{
    max-width: 360px;
  }
  .batting-card.isolated .talk-card, .pitching-card.isolated .talk-card {
    width: 100%;
  }
}