.star-row{
  display: flex;
  flex-wrap: wrap;
  width: 100%
}
.star, 
.left-half-star, 
.right-half-star{
  width: 24px;
  height: 25px;
  fill: yellow;
}
.bonus-star {
  fill: green;
}
.penalty-star {
  fill: red;
}
#left-half-star{
  clip-path: inset(0 12px 0 0);
  margin-right: -12px
}
#right-half-star{
  clip-path: inset(0 0 0 12px);
  margin-left: -12px
}