.team-navbar {
  position: relative;
  color: var(--bright);
  font-family:'Trebuchet MS', sans-serif;
  font-weight: 800;
  font-size: 24px;
}

.menu{
  margin-right: 20px;
}

.hamburger {
  display: none;
}

.nav-buttons {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--dark);
  padding: 1rem;
  z-index: 100;
}

.nav-buttons.open {
  display: flex;
}

@media (max-width: 600px) {
  .hamburger {
    display: inline;
  }

  .menu{
    display: none;
  }
  
  .nav-buttons {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--dark);
    padding: 1rem;
    z-index: 100;
  }
  
  .nav-buttons.open {
    display: flex;
  }
}