.team-navbar {
  position: relative;
  font-size: 20px;
  font-weight: 800;
}
.team-title{
  display:flex;
  align-items: center;
  justify-content: center;
}
.menu-bar-flex{
  display: flex;
  justify-content: center;
  padding: 16px;
}
.menu-button{
  border-radius: 20px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 16px;
  max-width: 200px;
}
.nav-buttons {
  display: none;
  margin: auto;
  z-index: 100;
}

.nav-buttons.open {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-block{
  max-width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 8px;
  background: var(--content);
  border: solid 1px var(--content-label);
  filter: drop-shadow(var(--shadow) 2px 0px 4px)
}
.menu-block-title{
  padding: 4px;
  font-size: 14px;
  text-align: center;
  width: 100%;
  background-color: var(--content-label);
}
#menu-block-button {
  width: 40%;
  margin: 8px;
  border-radius: 20px;
  font-size: 14px;
  background-color: var(--content-label);
}
#menu-block-button.active {
  background-color: var(--star-equip);
}
#menu-block-button:hover {
  background-color: var(--star-equip);
}


@media (max-width: 600px) {
    .nav-buttons.open {
    display: flex;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 1px var(--content-label)
  }
  .menu-block{
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}